doctype html
head
    title Pug

br
br
b
 center
  p  Welcome #{currentUser.username} 

br
br
      
div
  a(href='/update/show') UPDATE AGENTS
br
div
  a(href='/contact/contactmessages') VIEW CUSTOMER MESSAGES
br

div
  a(href='/') HOME 



  
    