extends layout
block content 

  head
      

  br
  br
  b
  .container
    center
      h2  Welcome #{currentUser.username} 

  br
  br
  .container 
    .div.center 
      a(href='/') HOME
    br
    br
    .div.center 
      a(href='/update/agent-proxy') VIEW AGENT SALES
    br
    br
    .div.center 
      a(href='/update/show') UPDATE AGENTS
    br
    br
    .div.center 
      a(href='/contact/contactmessages') VIEW CUSTOMER MESSAGES
    br
    br
  

  
     



  
    