doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js')
  // CSS from bootstrap
  
  link(rel='stylesheet' href='/stylesheets/style.css')
  

p #{flag}

if MyPackages
  each post in MyPackages

   .col-md-4 
    ul.list-group
     li.list-group-item.active  
     // a.hre(href='/travel_packages/displaydetails?PackageId='+post.PackageId)  
     li.list-group-item Package StartDate: #{post.BookingDate} 
     li.list-group-item Number Of Travelers: #{post.TravelerCount}
     
     li.list-group-item 
     // a.btn.btn-primary.col-12(href='/travel_packages/displaydetails?PackageId='+post.PackageId) View Package Details

  a(href='/') Home    
      